 <header>
    <div class="container">
        <a href="" routerLink="/" class="logo"> 
            <img src="../../assets/food logo.png" alt="DC Food Corner Logo">
             DC Food Corner!</a>
        <nav>
            <ul>
                <li>
                    <a href="#" routerLink="/">About us</a>
                    <a href="#" routerLink="/">Login</a>
                    <a href="#" routerLink="/">Cart</a>
                </li>
            </ul>
        </nav>
    </div>
</header> 



