<div class="container">
    <img [src]="food.imageUrl" alt="">
</div>

<div class="details">
    <div class="header">
        <span class="name">
            {{food.name}}
        </span>
        <span class="favorite {{food.favorite?'':'not'}}">
            ♥
        </span>
    </div>
    <div class="origins">
        <span *ngFor="let origin of food.origins">
            {{origin}}
        </span>
    </div>
    <div class="tag">
        <app-tags [foodPagetags]="food.tags"></app-tags>
    </div>
    <div class="cook-time">
        <span>
            Time to Cook <strong>{{food.cookTime}}</strong> Min
        </span>
    </div>
    <div class="price">
        <span>
            {{food.price |currency: 'INR'}}
        </span>
    </div>
    <button>Add to Cart</button>
</div>